<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maps</title>

  <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
  {% include 'nav.html' %}

  <section class="content">
    <h1>Maps</h1>
    <div id="map1" class="map"></div>
  </section>

  <script type=text/javascript src="{{
    url_for('static', filename='index.js') }}"></script>
</body>

</html>