body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin: 0 10px;
}

/* Leaflet.js map */
.map {
  max-width: 600px;
  height: 300px;
}
