<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Twitter Python App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <nav>
    <div class="nav-item"><a href="{{ url_for('home_page') }}">Home</a></div>
    <div class="nav-item"><a href="{{ url_for('wildfire_page') }}">Current Wildfire</a></div>
    <div class="nav-item"><a href="{{ url_for('twitter_auth') }}">Login to Twitter</a></div>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>

</html>